.parent {
    margin: 0 auto;
    min-width: 400px;
    max-width: 80%;
    display: grid;
    /* grid-template-columns: 1fr; */ /* papildomas */
    height: 100vh;
    align-content: center;
    justify-content: space-evenly;
}

.header , .container {
    display: inherit;
}

.header {
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: auto; */
}

.container {
        grid-template-columns: repeat(6, 1fr);
        /* grid-template-rows: auto; */
}

.header , .container > div {    
    border: 1px solid rgb(12, 11, 11);
/*     align-content: center;
    justify-content: center; */
}
.rowen,
.rowlt,
.actions {
   
}
/* .edit {
    margin-left: 10%;
}
.delete {
    margin-left: 40%;
} */